@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');



*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #0D1013;
}

.form-box{
    margin: 50px;
    padding-top: 80px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    
}
.form-material{
    padding-top: 40px;
    /* overflow: hidden; */
    width: 45vw;
    height: 100%;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}
.form-material button{
background-color: black;
   height: 10vh;
   width: 35vw;
   color: white;
   border-radius: 8px;
   transition: background-image 0.5s;
}

.form-material input{
    
    border-radius:8px ;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
 
    width: 35vw;
    height: 10vh;
    /* border: dashed; */
    /* outline:dashed */
  outline-offset: 5px dashed;
    color: black;
}

.circle{
    height: 30vh;
    width: 30vh;
    background-image: linear-gradient(to bottom ,rgb(101, 224, 255),rgb(82, 235, 255));
    filter: blur(120px);
    z-index: -1;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 40%;
}

.form-banner{
    display: none;
    margin-left: 20px;
    background-color: white;
    padding-top: 40px;
    overflow: hidden;
    height: 70vh;
    width: 45vw; 
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;}


    @media (min-width: 1250px) {
        .form-banner{
            display: block;}
            

      }

      @media (max-width: 580px) {
        
        .form-material{
            padding-top: 40px;
    /* overflow: hidden; */
    width: 80vw;
    height: 100%;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
        }  

        .form-material input{
            width: 80%; 
            
        }
        .form-material button{
            margin-left: 30px;
            width: 80%; 
        }
        .form-material{ padding-right: 40px;
            margin-right: 20px;
        }

      }


